<!--
 * @Author: your name
 * @Date: 2020-05-04 10:21:13
 * @LastEditTime: 2020-06-05 14:37:42
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \test\.vscode\IGEM\views\index.html
--> 
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NMU</title>
    
</head>
<link rel="stylesheet" href="../public/css/bootstrap.min.css">
<link rel="stylesheet" href="../public/css/main.css">
<style>
 #nav-font{
    font-size: 18px;
  }
  .navbar .nav > li .dropdown-menu {
      margin: 0;
  }

   .navbar .nav > li:hover .dropdown-menu {
     display: block;

  }
  /* wailai */
  
  /*  */
</style>
<body>
  <h5>南医大，冲鸭！！！</h5>
 
  <nav class="navbar  navbar-fixed-top  navbar-inverse "  style="opacity: 0.85; padding-top:18px ;">
    <div class="container-fluid " >
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand " href="http://www.njmu.edu.cn/" id="nav-font">NJMU</a>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav" >
          <!-- home -->
          <li><a href="https://2020.igem.org/Team:NJMU-China" id="nav-font"><span class=""></span> HOME</a></li>
          <!-- 下拉栏 team -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav-font">TEAM <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://2020.igem.org/Team:NJMU-China/Team" id="nav-font">Team</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Attributions" id="nav-font">Attributions</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Collaborations" id="nav-font">Collaborations</a></li>  
              <li><a href="https://2020.igem.org/Team:NJMU-China/Inclusion" id="nav-font">Inclusion</a></li>
            </ul>
          </li>
          <!-- 下拉栏 awards -->
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav-font">AWARDS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://2020.igem.org/Team:NJMU-China/Education" id="nav-font">Education</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Entrepreneurship" id="nav-font">Entrepreneurship</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Hardware" id="nav-font">Hardware</a></li>  
              <li><a href="https://2020.igem.org/Team:NJMU-China/Measurement" id="nav-font">Measurement</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Model" id="nav-font">Model</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Plant" id="nav-font">Plant</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Software" id="nav-font">Software</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Sustainable" id="nav-font">Sustainable</a></li>
            </ul>
          </li>
          <li id="nav-font"><a href="https://2020.igem.org/Team:NJMU-China/Human_Practices">HUMAN PRACTICES</a></li>
          <li id="nav-font"><a href="https://2020.igem.org/Team:NJMU-China/Safety">SAFETY</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav-font">PROJECT <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://2020.igem.org/Team:NJMU-China/Contribution" id="nav-font">Contribution</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Description" id="nav-font">Description</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Design" id="nav-font">Design</a></li>  
              <li><a href="https://2020.igem.org/Team:NJMU-China/Engineering" id="nav-font">Engineering</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Experiments" id="nav-font">Experiments</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Notebook" id="nav-font">Notebook</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Partnership" id="nav-font">Partnership</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Proof Of Concept" id="nav-font">Proof Of Concept</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Results" id="nav-font">Results</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" id="nav-font">PARTS <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="https://2020.igem.org/Team:NJMU-China/Part Collection" id="nav-font">Part Collection</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Parts" id="nav-font">Parts</a></li>
              <li><a href="https://2020.igem.org/Team:NJMU-China/Improve" id="nav-font">Improve</a></li>  
            </ul>
          </li>
        </ul><!-- 大栏的结束标志 -->
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>      
    <img src="../public/img/图片2.png" alt=""  id="pic2" style="padding-top:46px;">
    <img src="../public/img/图片3.png" alt="" id="pic3">
    <script src="../public/js/jquery.min.js"></script>
    <script src="../public/js/bootstrap.min.js"></script><!-- 这里相当于让浏览器发出请求来访问 -->
</body>

</html>