       *{
          	padding: 0px;
          	margin: 0px;
          }
		  nav{
			  position: relative;
			  z-index: 999;
		  }
		  .img{
          	margin-top: 40px;
          	margin-left: 140px;
          }
          .wrap{
          	width: 1000px;
          	height: 50px;
          	background-color: #10346a;
          	margin-left: 140px;
          	margin-top: 10px;
          }
          .clearfix:before,
          .clearfix:after
          {
          	content:"";
          	display: table;
          	clear: both;
          } 
           a
          {
          	display: block;
          	text-decoration: none;
          	padding-top: 18px;
          	padding-left: 22.5px;
          	padding-right: 22.5px;
          	color: white; 
          	
          } 
          ul , li{
          	list-style: none;
          }
           nav .level>li
          {
          	float: left;
          	text-align: center;
          	font-size: 16px;
          	transition: .2s;
          	
          } 
          nav .level>li a
          {
          	color: white;
          }
         nav .level>li:hover
          {
          	 /* background:white; */
          	 color: #10346A;
          } /* 色块底色 */ 
          nav .two
          {
          	display: none; 
          	margin-top: 15px;
          }
          nav .level > li:hover .two
          {
          	display: block;
          } 
          nav .two li
          {
          	padding: 10px 0;
          	transition: .4s;
          	cursor: pointer;
          	border: 0.4px solid #d8e1cc;
			background-color: white;
          }
          /* nav .level li a{
          	color: white;
          } */
          nav .level li:hover{
          	color: #10346a;/* 划过a时的颜色 */
          } 
         /*   nav .two li:hover
           {
          	 background: #10346a;
          } */ /* 二集菜单的背景颜色 */ 
          nav .two li:hover{
			  color: white;
          	background: #10346a;
          }
		 /*  nav .two a:hover{
			  color: white;
		  } */
		  /*******************************************************/
		  /*******************************************************/
		  .left{
			  position: relative;
			  z-index: 2;
		  }
		  .left .max{
			  width: 155px;
			  background-color: #10346A;
			  /* margin-left: 140px;
			  margin-top: 5px; */
			  padding-top: 15px;
			  padding-bottom: 15px;
			  padding-left: 60px;
			  position: absolute;
			  left: 140px;
			  top: 5px; 
			  display: block;
		  }
		  .left .max p{
			  color: white;
			  font-size: 23px;
		  }
		  .max:hover{
			  background-color: skyblue;
		  }
		  .min{
			  
			  width: 185px;
			  position: absolute;
			  top: 61px;
			  left: 140px;
			  text-align: center;
		  }
		  .min .box2{
			  margin: 10px 0px;
			  color: #10346A;
			  font-size: 19px;
			  border-top: #10346A;
			  width: 215px;
			  height: 20px;
			  padding-top: 10px;
			  padding-bottom: 10px;
			  margin-top: 4px;
			  
		  }
		  .min .box1{
			  color: white;
			  background-color: #10346A;
			  font-size: 19px;
			  width: 215px;
			  height: 20px;
			  padding-top: 10px;
			  padding-bottom: 12px;
		  }
		  .box1:hover{
			color: white;
			background-color: #10346A;
			cursor: pointer;
}
		  .min .box3{
			  color: #10346A;
			  font-size: 19px;
			   width: 215px;
			   height: 20px;
			   padding-top: 10px;
			   padding-bottom: 10px;
			   margin-top: 4px;
		  }
		  .box2:hover{
		  			 color: white;
					   background-color: #10346A;
					   cursor: pointer;
		  }
		  .box3:hover{
		  			  color: white;
						background-color: #10346A;
						cursor: pointer;
		  }
		  .right{
			  float: left;
			  position: absolute;
			  left: 380px;
			  height: 37px;
			  width: 760px;
			  top: 189px;
			  border-bottom: 3px solid #10346A;
		  }
			  
		  .head{
			  color: white;
			  margin-top: 0px;
			  padding: 15px 26px;
			  background-color: #10346A;
			  width: 77px;
			  height:10px ;
			  display: inline-block;
		  }
		  .word p{
			  position: absolute;
			  top: 23px;
			  left:540px;
			  float: right;
			  font-size: 13px;
			  color: #6f6f6f;
		  }
		  .word p:hover{
			  color: #10346A;
		  }
		  .right .introduction p{
			  margin-top: 15px;
			  font-size: 16px;
			  line-height: 25px;
			  margin-bottom: 35px;
		  }
		  .teacher1{
			  border-top: 2px solid #e2e2e2;
			  border-bottom: 2px solid #e2e2e2;
		  }
		  .teacher1 .pic{
			  margin: 20px 15px;
		  }
		  .teacher1:hover{
			  background-color: #fafafa;
		  }
		  .teacher1 .info {
			  position: absolute;
			  left: 198px;
			  top:187px
			  }
		  .teacher1 .info p{
			  font-size: 20px;
			  color: #2359bc;
		  }
		  .teacher1 .info span{
			  
			  font: 19px/25px black;
			  }
			  /*******************************************************/
		      .teacher2{
			  			  border-bottom: 2px solid #e2e2e2;
			  }
			  .teacher2 .pic{
			  			  padding: 20px 15px;
			  }
			  .teacher2:hover{
			  			  background-color: #fafafa;
			  }
			  .teacher2 .info {
			  			  position: absolute;
			  			  left: 198px;
			  			  top:433px
			  			  }
			  .teacher2 .info p{
			  			  font-size: 20px;
			  			  color: #2359bc;
			  }
			  .teacher2 .info span
			           {  
			  			  font: 19px/25px black;
							}
			    
	/***************************************************************************/
			  			.teacher3{
			  						  border-bottom: 2px solid #e2e2e2;
			  			}
			  			.teacher3 .pic{
			  						  padding: 20px 15px;
			  			}
			  			.teacher3:hover{
			  						  background-color: #fafafa;
			  			}
			  			.teacher3 .info {
			  						  position: absolute;
			  						  left: 198px;
			  						  top:675px
			  						  }
			  			.teacher3 .info p{
			  						  font-size: 20px;
			  						  color: #2359bc;
			  			}
			  			.teacher3 .info span
			  			         {  
			  						  font: 19px/25px black;
			  						  }
		         /*********************************************************/
						.teacher4{
									  border-bottom: 2px solid #e2e2e2;
						}
						.teacher4 .pic{
									  /* margin: 20px 15px; */
									  padding: 20px 15px;
						}
						.teacher4:hover{
									  background-color: #fafafa;
						}
						.teacher4 .info {
									  position: absolute;
									  left: 198px;
									  top:918px
									  }
						.teacher4 .info p{
									  font-size: 20px;
									  color: #2359bc;
						}
						.teacher4 .info span
						         {  
									  font: 19px/25px black;
									  }
						/***********************************************/
						.teacher5{
									  border-bottom: 2px solid #e2e2e2;
						}
						.teacher5 .pic{
									  /* margin: 20px 15px; */
									  padding: 20px 15px;
						}
						.teacher5:hover{
									  background-color: #fafafa;
						}
						.teacher5 .info {
									  position: absolute;
									  left: 198px;
									  top:1161px
									  }
						.teacher5 .info p{
									  font-size: 20px;
									  color: #2359bc;
						}
						.teacher5 .info span
						         {  
									  font: 19px/25px black;
									  }
									  
						/*****************************************************/
						.teacher6{
									  border-bottom: 2px solid #e2e2e2;
						}
						.teacher6 .pic{
									  /* margin: 20px 15px; */
									  padding: 20px 15px;
						}
						.teacher6:hover{
									  background-color: #fafafa;
						}
						.teacher6 .info {
									  position: absolute;
									  left: 198px;
									  top: 1410px;
									  }
						.teacher6 .info p{
									  font-size: 20px;
									  color: #2359bc;
						}
						.teacher6 .info span
						         {  
									  font: 19px/25px black;
									  }
						.people a{
							font-size: 20px;
							color: #2359bc;
							}
						.footer{
							position: absolute;
							top: 1850px;
							left: 250px;
						}
						.tab2{
                          display: none;
						}
						.tab3{
							display: none;
						}