%nav
  .container
    #icon.fontawesome-cog
    %ul
      %li
        %a{href: "#"} Item 1
      %li
        %a{href: "#"} Item 2
      %li
        %a{href: "#"} Item 3
      %li
        %a{href: "#"} Item 4
      %li
        %a{href: "#"} Item 5
%header
  .container
    %h1 Opacity on scroll
#nav-bg
%section#about
  .container
    %p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vel diam lacus. Nam quis ipsum nec massa sagittis scelerisque ac non urna. Phasellus posuere orci ac tellus interdum mollis eu vitae mi. Aliquam nec ante lobortis, suscipit lectus eu, dignissim ante. Nam imperdiet quis eros.