<!--
 * @Author: your name
 * @Date: 2020-05-14 22:21:08
 * @LastEditTime: 2020-06-20 23:11:04
 * @LastEditors: Please set LastEditors
 * @Description: In User Settings Edit
 * @FilePath: \.vscode\vue2\09v-model\05-v-model结合select.html
--> 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docu</title>
</head>
<body>
    <div id="app">
        <select name="" id="" v-model="fruit">
            <option value="苹果">苹果</option>
            <option value="榴莲">榴莲</option>
            <option value="葡萄">葡萄</option>
            <option value="西瓜">西瓜</option>
        </select>
        <h2>您选择的水果是:{{fruit}}</h2>
    </div>
    <div id="app">
        <select name="" id="" v-model="fruits" multiple>
            <option value="苹果">苹果</option>
            <option value="榴莲">榴莲</option>
            <option value="葡萄">葡萄</option>
            <option value="西瓜">西瓜</option>
        </select>
        <h2>您选择的水果是:{{fruits}}</h2>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        var app = new Vue({
            el:'#app',
            data:{
                fruit:'',
                fruits:[]
            },
            methods:{

            }
        })
    </script>
</body>
</html>